<h1>Skate Park</h1>

<div class="py-4">
    <h2>Administración</h2>
    <hr style="text-align: right; margin-right: 0px;">


    <table class="table w-50 m-auto table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Años de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {{#each rows}}
        <th scope="row">🛹</th>
        <td><div style="background-image: url('/img/{{this.foto}}')"></div></td>
        <td>{{this.nombre}}</td>
        <td>{{this.anos_experiencia}}</td>
        <td>{{this.especialidad}}</td>
        <td id="check"><input type='checkbox' name="test"  checked /></td>
        </tr>
       {{/each}}
    </tbody>
    </table>
</div>



<h3> configuraciónes de las cuentas</h3>
<div class="mb-1"><small>
    <a href="/editarperfil"> editar perfil </a> |
    <a href="/eliminar"> eliminar perfil </a>
</small>
</div>
<script>   
    //profe no se como sacar el booleano
{{!-- document.getElementsByTagName("test")[0].checked; 
document.getElementsByTagName("test")[1].checked; 
console.log(document.getElementsByTagName("test")) --}}

window.document.addEventListener("DOMContentLoaded", async () => {
        if (!localStorage.getItem("token")) {
            window.location.href = "/login";
        }
        const res = await fetch("/api/v1/admi", {
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
        });
        const data = await res.json();
        console.log(data);
        if (!data.ok) {
            window.location.href = "/admi";
        }
    });


</script>
